Decision Trees With tennis.csv_Data_Set

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
play_data = pd.read_csv('data/tennis.csv.txt')

In [4]:
play_data

     outlook  temp humidity  windy play
0      sunny   hot     high  False   no
1      sunny   hot     high   True   no
2   overcast   hot     high  False  yes
3      rainy  mild     high  False  yes
4      rainy  cool   normal  False  yes
5      rainy  cool   normal   True   no
6   overcast  cool   normal   True  yes
7      sunny  mild     high  False   no
8      sunny  cool   normal  False  yes
9      rainy  mild   normal  False  yes
10     sunny  mild   normal   True  yes
11  overcast  mild     high   True  yes
12  overcast   hot   normal  False  yes
13     rainy  mild     high   True   no


### Entropy of play
* Entropy(play) = – p(Yes) . log2p(Yes) – p(No) . log2p(No)

In [5]:
play_data.play.value_counts()

yes    9
no     5
Name: play, dtype: int64

In [6]:
Entropy_play = -(9/14)*np.log2(9/14) -(5/14)*np.log2(5/14)

In [7]:
Entropy_play

0.9402859586706311

### Information Gain

In [8]:
play_data[play_data.outlook =='sunny']

   outlook  temp humidity  windy play
0    sunny   hot     high  False   no
1    sunny   hot     high   True   no
7    sunny  mild     high  False   no
8    sunny  cool   normal  False  yes
10   sunny  mild   normal   True  yes

In [9]:
# Entropy(Play|Outlook=Sunny)
Entropy_Play_Outlook_Sunny = -(3/5)*np.log2(3/5) -(2/5)*np.log2(2/5)

In [10]:
Entropy_Play_Outlook_Sunny

0.9709505944546686

In [11]:
play_data[play_data.outlook =='overcast']

     outlook  temp humidity  windy play
2   overcast   hot     high  False  yes
6   overcast  cool   normal   True  yes
11  overcast  mild     high   True  yes
12  overcast   hot   normal  False  yes

In [12]:
# Entropy(Play|Outlook=Overcast)
# Since, it's a homogenous data entropy will be 0

In [13]:
play_data[play_data.outlook =='rainy']

   outlook  temp humidity  windy play
3    rainy  mild     high  False  yes
4    rainy  cool   normal  False  yes
5    rainy  cool   normal   True   no
9    rainy  mild   normal  False  yes
13   rainy  mild     high   True   no

In [14]:
# Entropy(Play|Outlook=rany)
Entropy_Play_Outlook_rainy = -(2/5)*np.log2(2/5) -(3/5)*np.log2(3/5)

In [15]:
Entropy_Play_Outlook_rainy

0.9709505944546686

#### Gain on splitting by attribute outlook

In [17]:
#Gain(Play, Outlook) = Entropy(Play) – [ p(Play|Outlook=Sunny) . Entropy(Play|Outlook=Sunny) ] – 
#[ p(Play|Outlook=Overcast) . Entropy(Play|Outlook=Overcast) ] – [ p(Play|Outlook=Rain) . Entropy(Play|Outlook=Rain) ]

Entropy_play - (5/14)*Entropy_Play_Outlook_Sunny - (4/14)*0 - (5/14) * Entropy_Play_Outlook_rainy

0.24674981977443933

### Time to find the next splitting criteria

In [18]:
play_data[play_data.outlook == 'overcast']

     outlook  temp humidity  windy play
2   overcast   hot     high  False  yes
6   overcast  cool   normal   True  yes
11  overcast  mild     high   True  yes
12  overcast   hot   normal  False  yes

In [19]:
play_data[play_data.outlook == 'sunny']

   outlook  temp humidity  windy play
0    sunny   hot     high  False   no
1    sunny   hot     high   True   no
7    sunny  mild     high  False   no
8    sunny  cool   normal  False  yes
10   sunny  mild   normal   True  yes

In [20]:
# Entropy(Play_Sunny|)
Entropy_Play_Outlook_Sunny =-(3/5)*np.log2(3/5) -(2/5)*np.log2(2/5)

In [21]:
Entropy_Play_Outlook_Sunny

0.9709505944546686

In [22]:
#Entropy for attribute high = 0, also entropy for attribute normal = 0 
Entropy_Play_Outlook_Sunny - (3/5)*0 - (2/5)*0

0.9709505944546686

In [23]:
Entropy_Wind_False = -(1/3)*np.log2(1/3) - (2/3)*np.log2(2/3)

In [24]:
Entropy_Wind_False

0.9182958340544896

In [25]:
Entropy_Play_Outlook_Sunny - (3/5)* Entropy_Wind_False  - (2/5)*1

0.01997309402197489

In [26]:
Entropy_Play_Outlook_Sunny - (2/5)*0 - (1/5)*0 - (2/5)* 1

0.5709505944546686

In [27]:
play_data[(play_data.outlook == 'sunny') & (play_data.humidity == 'high')]

  outlook  temp humidity  windy play
0   sunny   hot     high  False   no
1   sunny   hot     high   True   no
7   sunny  mild     high  False   no

In [28]:
play_data[(play_data.outlook == 'sunny') & (play_data.humidity == 'normal')]

   outlook  temp humidity  windy play
8    sunny  cool   normal  False  yes
10   sunny  mild   normal   True  yes

In [29]:
play_data[play_data.outlook == 'rainy']

   outlook  temp humidity  windy play
3    rainy  mild     high  False  yes
4    rainy  cool   normal  False  yes
5    rainy  cool   normal   True   no
9    rainy  mild   normal  False  yes
13   rainy  mild     high   True   no

In [31]:
Entropy_Play_Outlook_rainy

0.9709505944546686

In [33]:
Entropy_Play_Outlook_rainy - (3/5)*0.918 - (2/5)*1

0.020150594454668602

In [35]:
Entropy_Play_Outlook_rainy - (2/5)*0 - (3/5)*0

0.9709505944546686

In [36]:
Entropy_Play_Outlook_Rainy_Normal = -(1/3)*np.log2(1/3) - (2/3)*np.log2(2/3)

In [37]:
Entropy_Play_Outlook_Rainy_Normal

0.9182958340544896

In [39]:
Entropy_Play_Outlook_rainy - (2/5)*1 - (3/5)*Entropy_Play_Outlook_Rainy_Normal

0.01997309402197489